body{
	background-color: #E6E8EE;
}

header {
 	background-color: #CCD5E0;
}

h1.name{
	position: relative;
	text-align: center;
	padding: 10px;
	margin-left: 50px;
	margin-right: 50px; 
	margin-bottom: 0px;
	color: #1F2833;
}

section{

}

div.competences{
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}

article.tech{
	padding-left: 20px;
	padding-right: 20px;
}

article.langues{
	padding-left: 20px;
	padding-right: 20px;
}

div.projet{
	
	padding-top: 5px;
	padding-left: 20px: 
	padding-right: 20px;
	padding-bottom: 20px;
}

div.expériences{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

div.formation{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-left: 20px: 
	padding-right: 20px;
	padding-bottom: 20px;
}

div.interets{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-left: 20px: 
	padding-right: 20px;
	padding-bottom: 20px;
}

h4.competances{
	text-align: center;
}

h4.langues{
	text-align: center;
}

h4.expériences{
	margin-bottom: 0px;
	padding: 15px;
}

h4.formation{
	margin-bottom: 0px;
	padding: 15px;
}

img.profilPicture{
	width: 15%;
	height: 15%;

}

.mediaLink{

}	

ul{
	list-style-type: none;
	padding-left: 0px; 
}


.navbar {
  display: flex;
  background-color: #1F2833;
  justify-content: space-between;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: #E6E8EE;
  color: black;
}

form {
	margin-top: 20px;
	margin-left: 5px;
	margin-right: 5px;	
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #F0C5D6;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #686868;
}

.bg1{
	background-color: #ADD1C3;
}

.bg2{
	background-color: #FEE0A1;
}

.bg3{
	background-color: #F0C5D6;
}

.bg4{
	background-color:#CCD5E0; 
}





